:root {
    --banner-color: #ff6b82;
    --line-color: hsl(0, 0%, 78%);
    --banner-font-size: 20px;
    --heading-font-weight: 500;
    --small-font-size: 12px;
    --background-color: #eee6e7;
    --thin-font: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.product-selector {
    max-width: 600px;
    margin: 39px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    color: var(--banner-color);
    font-weight: var(--heading-font-weight);
    font-size: var(--banner-font-size);
}

.line {
    height: 2px;
    flex: 1;
    background-color: var(--line-color);
    margin: 0 10px;
}

.product {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--line-color);
    padding: 2em;
    min-height: 100px;
    gap: 20px;
}

.most-popular-banner {
    background-color: var(--banner-color);
    color: white;
    font-weight: 800;
    width: 25%;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: 8px;
    border-radius: 0 0 10px 10px;
    /* overflow: hidden; */

    /* text-overflow: ellipsis;  */
}

.most-popular {
    font-size: small;
}

.triangle-right {
    width: 0;
    height: 0;
    position: absolute;
    right: -10px;
    top: 0;
    border-bottom: 10px solid #d7445b;
    border-right: 10px solid transparent;
}

.triangle-left {
    width: 0;
    height: 0;
    left: -10px;
    top: 0;
    position: absolute;
    border-bottom: 10px solid #d7445b;
    border-left: 10px solid transparent;
}

.discount-badge {
    background-color: var(--banner-color);
    color: white;
    padding: 0.2em;
    border-radius: 3px;
}

.product-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price-info {
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.price-container {
    display: flex;
    flex-direction: column;
}

.previous-price {
    color: var(--line-color);
    text-decoration: line-through;
}

.quantity {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.quantity-header {
    display: flex;
    gap: 10px;
}

.quantity-heading {
    font-weight: var(--heading-font-weight);
    font-size: larger;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    appearance: none;
    border: 2px solid var(--line-color);
    cursor: pointer;
}

input[type="radio"]:checked {
    border-color: var(--banner-color);
}

input[type="radio"]:checked:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--banner-color);
}

.price {
    font-weight: var(--heading-font-weight);
    font-size: larger;
}

.product-customization {
    display: grid;
    grid-template-columns: 1fr 40% 40%;
    gap: 7px;
    width: 60%;
    padding: 0.7em;
}

.size {
    grid-column: 2;
    grid-row: 1;
    font-weight: var(--thin-font);
}
.color {
    grid-column: 3;
    grid-row: 1;
    font-weight: var(--thin-font);
}

.size-select-1 {
    grid-column: 2;
    grid-row: 2;
}

.select1 {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    align-self: center;
}

.select2 {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    align-self: center;
}

.color-select-1 {
    grid-column: 3;
    grid-row: 2;
}

.size-select-2 {
    grid-column: 2;
    grid-row: 3;
}

.color-select-2 {
    grid-column: 3;
    grid-row: 3;
}

.select-input {
    height: 40px;
    border: 1px solid var(--line-color);
    border-radius: 3px;
    padding: 0.5em;
    font-size: medium;
    font-weight: var(--thin-font);
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-summary {
    display: flex;
    justify-content: space-between;
}

.delivery-info {
    font-size: larger;
    color: var(--banner-color);
    font-weight: var(--heading-font-weight);
}
.total-price {
    font-size: larger;
}

.btn {
    width: 100%;
    background-color: var(--banner-color);
    height: 50px;
    font-size: var(--banner-font-size);
    font-weight: var(--heading-font-weight);
    color: white;
    border: none;
    border-radius: 7px;
}

.hidden {
    display: none;
}

.active {
    background-color: var(--background-color);
    border: 2px solid var(--banner-color);
}

.pumper {
    text-align: right;
    color: #00000066;
    font-style: italic;
    font-size: large;
    margin-top: 7px;
}

@media (max-width: 640px) {
    .product-selector {
        width: 90%;
    }

    .pumper,
    .price,
    .previous-price,
    .btn,
    .delivery-info,
    .total-price,
    .discount-badge,
    .quantity-heading {
        font-size: medium;
    }

    .banner h1 {
        font-size: 20px;
    }

    .discount-badge {
        padding: 0.1em;
    }
    .standard-price,
    .size,
    .color,
    .select-input,
    .select1,
    .select2 {
        font-size: small;
    }
}
